/* 주석방법 &*/

h1 {
    color: white;
    font-size: 15px;
    background-color: navy;
}
header > h1 {                   
    background-color: olive;
}
content h1{
    font-size: 10px;
}
#first {
    color:orange;
}
header.first{
    color:yellow;
}
